.comment {
	display: flex;
	flex-direction: row;
	justify-content: top;
}

.commentContainer .children {
	padding-left: 3rem;
}

.commentContainer .comment .listing span {
	font-size: 0.9rem;
	display: inline-block;
	margin-right: 0.6rem;
}