/* Comment */
.commentContainer .comment {
	display: flex;
	flex-direction: row;
	justify-content: top;

	margin-bottom: 2rem;
}

.commentContainer .comment .listing span {
	font-size: 0.9rem;
	display: inline-block;
	margin-right: 0.6rem;
}

.commentContainer .comment .listing span.action {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

/* Indent children */
.commentContainer .children {
	padding-left: 3rem;
}

/* New comment form */
.newCommentForm {
	padding: 1rem;
}

.newCommentForm textarea {
	display: block;
	margin-bottom: 1rem;
}