/* Page Styling */
.formPage {
	width: 50%;
	margin: 0 auto;
}

.formPage h1 {
	text-align: center;
}

.formContainer form {
	display: grid;
	grid-row-gap: 1rem;
	align-items: center;
	justify-items: start;
}

/* Grid for labels */
.formContainer form label {
	grid-column: 1 / span 2;
	justify-self: end;
	margin-right: 1rem;
}

.formContainer form input, .formContainer form textarea {
	grid-column: 3 / span 2;
	justify-self: start;
}

.formContainer form textarea {
	resize: none;
}

.formContainer form input[type=submit] {
	grid-column: 2 / span 2;
	justify-self: center;
}

/* Loading */
.formContainer form.disabled {
	opacity: 0.5;
	pointer-events: none;
}

/* Error */
.formContainer .error {
	padding: 1rem;
	width: 50%;
	margin: 1rem auto;
	background: #ff8a80;
	border: 1px solid #d50000;
}