/* Page Header */
header {
	width: 100%;
	box-sizing: border-box;

	padding-top: 3rem;
	padding-left: 1rem;
	padding-bottom: 1rem;

	background: #8c9eff;

	overflow: hidden;
}


header .title {
	margin: 0;
}

header .right {
	float: right;
	margin-right: 1rem;
}

header .userLinks a {
	color: black;
}