@import "./forms.css";
@import "./buttons.css";
@import "./post_list.css";
@import "./sub.css";
@import "./comments.css";
@import "./post.css";
@import "./vote_arrows.css";
@import "./sub_list.css";
@import "./pagination.css";

body {
	font-family: 'Roboto', sans-serif;
	padding: 0; margin: 0;
}

header {
	width: 100%;
	box-sizing: border-box;

	padding-top: 3rem;
	padding-left: 1rem;
	padding-bottom: 1rem;

	background: #8c9eff;
	position: relative;
}


header .title {
	margin: 0;
}

header .right {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

a.supressLinkStyling,a.supressLinkStyling:visited {
	color: black;
	text-decoration: none;
}