/* Sub list */
.subList {
	display: flex;
	flex-direction: column;

	border: 1px solid black;
	border-bottom: none;
	margin-bottom: 1rem;
}

/* Item */
/* TODO: Align properly */
.subList .subListItem {
	display: flex;
	flex-direction: row;
	align-content: center;

	padding: 0.1rem;

	border-bottom: 1px solid black;
}


.subListItem .name {
	align-self: flex-end;
}
.subListItem .padding {
	width: 10%;
}

.subListItem button.remove {
	background: red;
	background-clip: content-box;

	width: 10%;
	box-sizing: border-box;
	padding: 0.5rem;

	border: 0;

	color: white;
}