.subList {
	display: flex;
	flex-direction: column;

	border: 1px solid black;
	border-bottom: none;
	margin-bottom: 1rem;
}

.subList .subListItem {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;

	padding: 0.1rem;

	border-bottom: 1px solid black;
}

.subListItem .remove {
	box-sizing: border-box;
	width: 15%;
}

.subListItem .remove button {
	margin: 0 auto;
}