.voteArrows {
	display: flex;
	flex-direction: column;

	justify-content: flex-start;
	align-items: center;

	padding: 0 2rem;
}


.voteArrows .up, .voteArrows .down {
	background: none;
	border: none;
	border-radius: 50% 50%;
	box-sizing: border-box;
}

.voteArrows .up:after, .voteArrows .down:after {
	padding-bottom: 100%;
	display: block;
	content: "";
}

.voteArrows .number {
	text-align: center;
}

.voteArrows .up.active {
	background: orange;
	color: white;
}

.voteArrows .down.active {
	background: blue;
	color: white;
}